*{
    margin: 0;
    padding: 0;
}

body{
 
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
div{
    display: block;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
:root{
    --color-main: #0ca8c9 
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;

}
.content{
    display: flex;
    justify-content: space-between;
}
.hearder-top{
    background-color: #222222;
}
.content .left{
    
    justify-content: space-between;
    align-items: center;
}
.content .right{
    display: flex;

    
}
.content div ul{
    margin: 14px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -13px;
}

.content .left ul li {
    margin-left: 20px;

}
.content div li span{
    display: block;
}
.content div li span{
    color: #a3a3a3;
}
.content div li a {
    color: #ffffff;
    font-size: 12px;
}
.adress-icon{
    display: flex;
    align-items: center;
    margin-top: -1px;
    margin-left: 1px;

}
.adress-icon i {
    color: var(--color-main);
    display: flex;
    justify-content: center;
    font-size: 16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: 1px solid var(--color-main);
    text-align: center;
}
.adress-icon .info-adress{
    padding-left: 10px;

}
.email-icon{

    display: flex;
    align-items: center;
    margin-left: 4px;
    margin-top: -1px;
  
}
.email-icon .info-email{
    margin-left: 10px;
}
.email-icon i{
    color: var(--color-main);
    display: flex;
    justify-content: center;
    color: var(--color-main);
    display: flex;
    justify-content: center;
    font-size: 16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: 1px solid var(--color-main);
    text-align: center;
}
.tele-icon{
    display: flex;
    align-items: center;


}
.tele-icon .info-tele{
    margin-left: 10px;
    margin-top: 1px;
}
.tele-icon i{
    color: var(--color-main);
    display: flex;
    justify-content: center;
    font-size: 16px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border: 1px solid var(--color-main);
    text-align: center;
 
}

.local{
    align-items: center;
    text-align: center;
    display: flex;
}
.local-info span{
    font-size: 12px;
}
.local img{
    margin-right: 12px;

}
.local-info i{
    color: #a3a3a3;
    font-size: 12px;
    margin-left: 24px;
}
.local .local-info{
    display: flex;
    align-items: center;
}
/* main header */
.content-mid{
    height: 6.1em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 9px;
    margin-top: 10px;
}
.logo img{
    width: 100%;
    height: 100%;

}
.site-search-wrapper{
    display: flex;
    flex-wrap: wrap;
    max-width: 647px;
    width: 100%;
}
.search-header{
    max-width: 550px;
    position: relative;
    display: flex;
    width: 100%;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    height: 2.5em;
}
form {
    display: flex;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: transparent;
    background-image: none;
}
  /* Remove IE arrow */
select::-ms-expand {
    display: none;
}
 /* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 9.45em;
    height: 2.5em;
    line-height: 3;
    background: transparent;
    overflow: hidden;
    border-radius: .25em;
    margin-left: .5em;
}
select {
    flex: 1;
    padding: 0 16px;
    color: #8f8f8f;
    font-size: 12px;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
    font-weight: 500;
}
  /* Arrow */
.select::after {
    content: "\f0dd";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    font-size: 12px;
    color: #8f8f8f;
    position: absolute;
    right: 17%;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    width: auto;
}
.select::before{
    content: " ";
    width: 1px;
    height: 24px;
    background-color: #e0e0e0;
    position: absolute;
    right: 0;
    top: 20%;
}
  /* Transition */
.select:hover::after {
    color: var(--color-main);
}
.search-category input[type="text"]{
    max-width: 320px;
    width: 100%;
    border: none;
    font-size: 12px;
    color: #8f8f8f;
    font-family: 'Poppins';
    font-weight: 500;
    padding-left: 18px;
    background-color: transparent;
    line-height: 40px;
    height: 40px;
}
input:focus{
    outline: none;
}
.btn-search span{
    font-size: 18px;
    color: #ffffff;
}
.search{
    position: absolute;
    top: -1px;
    right: -5px;
    border: 1px solid #0ca8c9;
    min-width: 57px;
    min-height: 42px;
    background-color: #0ca8c9;
    color: #ffffff;
    font-size: 18px;
    border-radius: 0 25px 25px 0;
}
button:focus{
    outline: none;
}
.autocomplete {
    position: relative;
}
.autocomplete-items {
    position: absolute;
    border: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
 input[type=submit] {
    background-color: #0ca8c9;
    color: #fff;
    font-size: 0;
    min-width: 57px;
} 
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #f8f8f8; 
    border-bottom: 1px solid #f8f8f8; 
}
  
  /*when hovering an item:*/
 .autocomplete-items div:hover {
    background-color: #e9e9e9; 
}
  
  /*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}
.icon-header{
    display: flex;
    position: relative;
    align-items: center;
}
.icon-setting{
    padding-right: 18px;
    padding-left: 23px;
}
.icon-setting a{
    text-decoration: none;
    font-size: 26px;
    color: #0ca8c9;
}
.icon-shopcart{
    position: relative;
}
.icon-shopcart a{
    text-decoration: none;
}
.icon-shopcart a span.icon-shopping-bag{
    font-size: 26px;
    color: #0ca8c9;
}
.product-item{
    position: absolute;
    z-index: 10;
    top: 4em;
    right: 0;
    min-width: 320px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0 0 5px #eaeaea;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    color: #282828;
    padding: 1em 0.5em 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s linear;
}
.icon-shopcart .product-item.active{
    opacity: 1;
    visibility: visible;
}
.product-add-to-minicart{
    overflow-x: auto;
    height: 160px;
}
.product{
    padding: 0.5em 0;
    border-bottom:  1px solid #cfcfcf;
    display: flex;
    justify-content: space-between;
}
.product-add-to-minicart li img{
    width: 60px;
    height: 60px;
}
.product-minicart-content{
    width: 115px;
}
.price{
    font-size: 14px;
    margin-top: 5px;
    color: #0ca8c9;
}
.product span.fa-times{
    line-height: 60px;
    font-size: 12px;
    color: #fc3a3aec;
}
.total-minicart{
    line-height: 60px;
    color: #fc3a3aec;
}
.multi-incart{
    font-size: 14px;
    color: #fc3a3aec;
    letter-spacing: 5px;
}
.total{
    padding: 1em 0;
    display: table;
    width: 100%;
}
.title-total{
    display: table-cell;
    vertical-align: middle;
}
.total span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fc3a3aec;
    font-weight: 600;
}
.cart-action{
    padding: 30px 0 20px 0;
    border-top: 2px solid #bbb;
}
.cart-action .view-cart{
    margin-bottom: 10px;
    padding: 15px 0;
    border: 1px solid #0ca8c9;
    background-color: #0ca8c9;
    text-align: center;
    border-radius: 30px;
}
.cart-action .view-cart a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.fa-shopping-bag{
    position: relative;
}
.count-product{
    min-width: 16px;
    min-height: 16px;
    background-color: #222222;
    border: 1px solid #222222;
    border-radius: 50%;

    font-size: 10px;
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    position: absolute;
    right: -8px;
    top: -6px;
    line-height: 16px;
    text-align: center;
}
.menu{
    background-color: var(--color-main);
}
.menu2{
    position: relative;
    color: #ffff;
    cursor:pointer;
    display: none;

}

.menu2 i span{
    margin-left: 10px;
  
}
.sub-menu2{
    text-align: center;
    display: none;
    position: absolute;
    z-index: 2;
    top:40px;
    background: var(--color-main);
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    right:0;
    

}
.sub-menu2 li{
    border-bottom: 2px solid #20acca;
}
.sub-menu2 li:hover{
    background: #082b4f;
}
.sub-menu2 li a span {
    line-height: 30px;  
    color: #ffff;
    font-size: 12px;
}
.main-menu{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.category-menu{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    cursor:pointer;
}
.category-menu>li{
   display: flex;
   justify-content: space-between;
   align-items: center;
    
}

.category-menu>li span{
    margin-left: 15px;
    color: #fff;

}
.menu-title{
    display: flex;

}

.menu-title li  {
    margin-left: 65.65px;
    font-size: 14px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}
.menu-title li a{
    color: #ffffff;
    margin-right: -8px;
}

.btn{
    margin-left: 10px;
}
.btn a{
    display: flex;
    align-items: center;
    text-align: center;
    
}
.btn a span {
    color: #fff;
    margin-left: 15px;
    font-size: 14px;
}
.dropdown{
    position: relative;
}
.sub-menu{
    font-family: 'Open Sans';
    display: none;
    z-index: 2;
    position: absolute;
    width: 260px;
    top:38px;
    background: #ffff;
    padding-left: 20px;
    padding-right: 20px;
    
}
.sub-menu li{
    line-height: 60px;
   
    
} 
.sub-menu li a{
    border-bottom: 2px solid #ebebeb;
    position: relative;
    font-weight: 200;
    color: #696969;
    font-size: 18px;
    padding-left: 20px;
    display: block;
    
}
.sub-menu li a:hover{
    color:var(--color-main);
    background: #e0e0e0;
    
}
.sub-menu ul {
    display: none;
    position: static;
    margin-left: 35px;
}
.sub-menu.show5{
    display: block;

}
.sub-menu2.show6{
    display: block;

}
.sub-menu .baby-show.show{
    display: block;

}
.sub-menu .sex-show.show1{
    display: block;

}
.sub-menu .cos-show.show2{
    display: block;

}
.sub-menu .diet-show.show3{
    display: block;

}
.sub-menu .gifts-show.show4{
    display: block;

}

.sub-menu ul li {
    line-height: 42px;
    border-bottom: none;
}
.sub-menu ul li a{
    font-size: 16px;
    color:#696969 ;
}
.sub-menu li a span{
    position: absolute;
    top: 38%;
    right: 20px;
    font-size: 12px;
}
.sub-menu li a span.rotate{
 transform: rotate(90deg);
}
.sub-menu li a span.rotate1{
    transform: rotate(90deg);
   }
   .sub-menu li a span.rotate2{
    transform: rotate(90deg);
   }
   .sub-menu li a span.rotate3{
    transform: rotate(90deg);
   }
   .sub-menu li a span.rotate4{
    transform: rotate(90deg);
   }




/* ----------- */
/******************* slider-show ****************/

.carousel-content{
    max-width: 655px;
    width: 100%;
    position: absolute;
    top: 28.7%;
    left: 20.45%;
    z-index: 1;
}
.carousel-content-title{
    font-size: 70px;
    font-family: 'Poppins',sans-serif;
    font-weight:700;
    color: #000000;
    line-height: 90px;
}
.carousel-content-title strong{
    color: #0ca8c9;
    font-weight: 800;
    font-size: 70px;
    padding-left: 5px;
}

.sub-carousel-content{
    margin-top: 16px;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    color: #8f8f8f;
}
.shop-now{
    padding-top: 45px;
    padding-left: 2px;
    display: inline-block;
    border-bottom: 2px solid #0ca8c9;
}

.shop-now a{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
    line-height: 30px;
}

.border-button-left{
    width: 0;
    height: 0;
    border-top: 60px solid #ffffff;
    border-left: 50px solid #ffffff;
    border-right: 10px solid transparent;
}
.border-button-right{
    width: 0;
    height: 0;
    border-bottom: 60px solid #ffffff;
    border-left: 10px solid transparent;
    border-right: 50px solid #ffffff;
}
.border-button-right:hover{
    border-bottom: 60px solid #0ca8c9;
    border-left: 10px solid transparent;
    border-right: 50px solid #0ca8c9;
    opacity: 1;
    color: #ffffff;
}
.border-button-right:hover.fa-angle-right:before{
    color: #ffffff;
}
.border-button-left.fa-angle-left:before{
    position: absolute;
    top: 0;
    line-height: 60px;
    left: 30%;
    font-size: 31px;
    color: #082b4f;
}
.border-button-right.fa-angle-right:before{
    position: absolute;
    top: 0;
    line-height: 60px;
    right: 35%;
    font-size: 31px;
    color: #082b4f;
}
.border-button-left:hover{
    opacity: 1;
    border-top: 60px solid #0ca8c9;
    border-left: 50px solid #0ca8c9;
    border-right: 10px solid transparent;
}
.border-button-left:hover.fa-angle-left:before{
    color: #ffffff;
}
.caurosel{
    position: relative;
    width: 100%;
}
.caurosel-item{
    /* background: url(../image/slider.jpg); */
}
.caurosel .caurosel-item,
.caurosel .caurosel-item--hidden{
    display: none;
}
.caurosel .caurosel-item.active{
    display: block;
    animation: fade 2s;
}
.slide{
    max-width: 100%;

}
.caurosel .dots{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.caurosel_dot{
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
}
.caurosel span.dots-opacity{
    opacity: 0.8;
}
.caurosel .dots.active{
    background-color: #0ca8c9;
    opacity: 1;
}
.caurosel .caurosel_action{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform:  translateY(-50%);
    width: 100%;
}
.caurosel .caurosel_action button{
    border: none;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
    padding: 0;
    position: relative;
    margin: 0 10px;
}
    

/* service */
.factoty-content-wrapper{
    max-width: 25%;
    margin-left: 40px;
    padding-bottom:  8px;
}
.medy-factory{
   padding: 55px;
}
.factoty-content{
    display: flex;
    flex-wrap: wrap;
    margin-left: -35px;

}
.icon-fact{
    display: table-cell;
    vertical-align: middle;
}
.icon-fact a{
    text-decoration: none;
    font-size: 40px;
    color: #0ca8c9;
}

.text-fact{
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
}
.title-factory{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    color: #000000;
}
.title-factory:hover, .sub-title-factory:hover{
    color: #0ca8c9;
}
.sub-title-factory{
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    color: #8f8f8f;
}
/* ------------banner----------------- */
.medy-banner{
    margin-bottom: 45px;
}
.medy-banner-wrapper{
    display: flex;
    flex-wrap: wrap;
}
/* countdown */
#countdown{
    position: absolute;
    top: 63%;
    left: 27%;
    text-align: center;
    z-index: 3;
}
#countdown ul li{
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
    margin: 0 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #000000;

    background-color: #ffffff;
    min-width: 62px;
    min-height: 62px;
}
#countdown ul li span{
    display: block;
    color: #0ca8c9;
    font-size: 21px;
    padding-top: .3em;
}
.hot-deal{
    flex: 0 0 58.3%;
    max-width: 58.3%;
    position: relative;
}
.deal-product{
    flex: 0 0 41.7%;
    max-width: 41.7%;
}
.img-deal{
    background: #f0f0f0;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 104px;
    border: 1px solid #f0f0f0;
    max-width: 653px;
    width: 100%;
    padding-left: 15px;
}
.text-product-hotdeal{
    position: absolute;
    bottom: 45px;
    left: 6px;
    right: 0px;
    text-align: center;
    z-index: 4;
}
.title-hotdeal{
    font-size: 30px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: #000000;
    line-height: 30px;
}
.sub-hotdeal{
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    color: #8f8f8f;
    line-height: 18px;
    padding-top: 10px;
}
.sub-hotdeal strong{
    color: #0ca8c9;
    font-weight: 400;
}
.img-discount{
    background-color: #f0f0f0;
    text-align: right;
    border: 1px solid #f0f0f0;
    max-width: 457px;
    height: 240px;
    width: 100%;
    display: table;
    margin-left: 20px;
}
.img-discount a, .img-accessories a{
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px;
}
.img-discount a img {
    padding-top: 8px;
}
.img-accessories a img{
padding-top: 14px;
}
.discount{
    position: relative;
}
.discount-content{
    position: absolute;
    top: 22%;
    left: 55px;
}
.discount-per{
    font-size: 60px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: #0ca8c9;
    line-height: 60px;
}
.discount-title{
    font-size: 24px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    color: #000000;
    text-transform: uppercase;
}
.sub-discount{
    font-size: 18px;
    color: #8f8f8f;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}
.accessories{
    margin-top: 30px;
    position: relative;
}
.img-accessories{
    background-color: #f0f0f0;
    text-align: right;
    border: 1px solid #f0f0f0;
    width: 100%;
    max-width: 457px;
    height: 240px;
    margin-left: 20px;
    display: table;
}
.accessories-content{
    position: absolute;
    top: 32%;
    left: 60px;
}
.accessories-title{
    font-size: 30px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
}
.sub-accessories{
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    color: #8f8f8f;
}
.sub-accessories strong{
    color: #0ca8c9;
    font-weight: 400;
}
/* -------------------------------product----------------------------------- */
.topselling-text{
    position: relative;
    margin-bottom: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.topselling-title{
    font-size: 42px;
    color: #000000;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    position: absolute;
    top: 24%;
    left: 10px;
    line-height: 42px;
}
.productselling-title{
    font-size: 90px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: #f5f5f5;
    text-transform: uppercase;
    line-height: 90px;
}
.products-sell-fisrt{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.site-products-sell{
    flex: 1 0 22%;
    max-width: 25%;
    margin-bottom: 60px;
    position: relative;
    padding:0 17px 0 18px;
}
.img-product{
    padding: 37px 0 40px;
    background: #f0f0f0;
    text-align: center;
}
.title-product-sell{
    font-size: 14px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}
.title-product-sell a{
    text-decoration: none;
    color: #000000;
}
.content-product:hover .title-product-sell a{
    color: #0ca8c9;
}
.price-sell{
    text-align: center;
    color: #0ca8c9;
    font-size: 13px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    margin-top: 8px;
}
.price-sell span.sell-amount-product-del{
    margin-right: 7px;
}
del{
    color: #696969;
    opacity: 0.8;
}
.text-sell-product{
    margin-top: 10px;
}
.topselling-content{
    position: relative;
}
.nav-product{
    display: flex;
    width: 85px;
    justify-content: space-between;
}
.prev-product a, .next-product a{
    text-decoration: none;
    font-size: 32px;
    color: #cfcfcf;
}
.prev-product a:hover, .next-product a:hover{
    color: #0ca8c9;
}

/* add cart */
.btn-add-to-cart{
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    text-align: center;
    text-decoration: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s linear;
}
.btn-add-to-cart span{
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #0ca8c9;
    background-color: #0ca8c9;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Open Sans',sans-serif;
}
.site-products-sell:hover .btn-add-to-cart{
    opacity: 1;
    visibility: visible;
}
/* Hot news */
.hot-new{
    background: url(../images/banner/Background.png);
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 88px;
}
.new-text{
    padding-top: 100px;
    padding-bottom: 25px;
    text-align: center;
    position: relative;
}
.title-hot-new{
    font-size: 90px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: #ebebeb;
    text-transform: uppercase;
    line-height: 90px;
}
.latest-new{
    font-size: 42px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 18px;
    right: 0px;
    text-align: center;
    line-height: 42px;
}
.site-latest-content{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.wrapper-latest-content{
    flex: 1 0 30%;
    max-width: 33.333333%;
    padding: 6px 7px;
    margin-left: 15px;
}
.img-new img{
    width: 100%;
}
.new-text-content{
    margin-top: 16px;
}
.new-text-content .latest-content-title a{
    text-decoration: none;
    color: #000000;
}
.new-text-content .latest-content-title a:hover{
    color: #0ca8c9;
}
.new-text-content .latest-content-title{
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
    padding-left: 4px;

}

.sub-new-content{
    font-size: 12px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    color: #8f8f8f;
    padding-top: 3px;
    padding-left: 4px;

}
.sub-new-content strong{
    color: #0ca8c9;
}
.newletters{
    padding: 95px 0 90px 0;
    background-color: #000000;
}
.text-new-letters{
    text-align: center;
}
.newletter-title{
    font-size: 32px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: #ffffff;
  
}
.sub-newletter{
    font-size: 14px;
    color: #ffffff;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    margin-top: 14px;
    padding-left: 15px;

}

/* sign-up */

.newletters{
    background-image: url(/assets/images/banner/bg2.png);
}

.newletters{
    padding: 100px 0 99px 0;
    background-color: #000000;
}
.text-new-letters{
    text-align: center;
}
.newletter-title{
    font-size: 32px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: #ffffff;
    margin-top: -10px;
    padding-left: 30px;
}

.form-text-email{
    margin-top: 60px;
    text-align: center;
    padding-left: 20px;
}
.example-text{
    position: relative;
}
.example-text input[type="text"]{
    margin: 0 auto;
    width: 66%;
    min-width: 320px;
    padding-left: 30px;
    border-radius: 40px;
    border: none;
    height: 70px;
    font-size: 13px;
    color: #8f8f8f;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
}
.example-text input[type="submit"]{
    position: absolute;
    right: 181px;
    top: 5px;
    border-radius: 30px;
    border: 1px solid #0ca8c9;
    background: #0ca8c9;
    min-width: 170px;
    height: 58px;
    font-size: 16px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 58px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
}


/* brands */
.wrapper-slick{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;

}
.site-wrapper-brand{
    flex: 0 0 17%;
    max-width: 18%;
    margin-left: 34px;
}
.brands{
    padding: 60px 0;
}
.img-brands{
    background-color: #ffffff;
    text-align: center;
}
.img-brands img{
    vertical-align: middle;
}
/*-------------------------------------- footbrand------------------------------------------------------------------------------------------ */
.footer-top{
    background-color: #f2f2f2;
    padding-bottom: 50px;
}
.footer-top-content{
    display: flex;
    justify-content: space-between;
    margin: 0 -5px;
}
.contact-us-footer, .company-footer, .categories-footer, .quick-link{
    flex: 0 0 23%;
    max-width: 25%;
    padding: 0 15px;
    margin-top: 55px;
}
.footer-top-title{
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
    padding-left: 90px;

}
.contact-us-footer .footer-top-title1{
    text-align: left;
    font-size: 18px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.menu-footer ul{
    display: block;
    padding-left: 97px;
    padding-top: 8px;
}
.categories-footer .menu-footer ul{
    padding-left: 95px;
}
.quick-link .menu-footer ul{
    padding-left: 92px;
}
.sub-contact-us{
   padding-top: 18px;
}

.sub-contact-us a{
    display: flex;
    width: 100%;
    padding-bottom: 10px;
}
.sub-contact-us a span.icon-location-pin, .sub-contact-us a span.icon-mail-envelope-closed, .sub-contact-us a span.icon-phone{
    color: #20acca;
    font-size: 16px;
    line-height: 22px;
    margin-right: 20px;
}
.sub-contact-us a .location-map-contacts, .sub-contact-us a .email-footer-top, .sub-contact-us a .telephone-number{
    font-size: 13px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    color: #8f8f8f;
}
.sub-contact-us a span.fa-envelope-o{
    margin-right: 20px;
}
.sub-contact-us a:hover{
    color: #0ca8c9;
}
.social-icon{
    padding-top: 20px;
    padding-left: 10px;
}
.social-icon a{
    margin-right: 25px;
    font-size: 13px;
    color: #8f8f8f;
}
.social-icon a:hover{
    color: #0ca8c9;
}
.menu-footer ul li{
    list-style: none;
}
.menu-footer ul li a{
    text-decoration: none;
    font-size: 13px;
    font-family: 'Poppins',sans-serif;
    color: #8f8f8f;
    font-weight: 500;
    line-height: 36px;
}
.menu-footer ul li a:hover{
    color: #0ca8c9;
}
.bottom2{
    display: flex;
    margin-top: 18px;
    padding-left: 15px;
    padding-bottom: 20px;
    justify-content: space-between;

    align-items: center;
}
.bottom2 img{
    margin-right: -10px;
}
.bottom2 p {
    font-size: 12px;
}
.bottom2 a{
    font-size: 12px;
    color: var(--color-main);
}


/*--------------------------------------------------- Responsive----------------------------------------------------------------------------------- */
@media(max-width:1080px){
    /* header */
    .container{
        max-width: 992px;
        margin: 0 auto;
    }
    .content .left{
        margin-left: 10px;
    }
    .content .right{
        margin-right: 10px;
    }
    /* logo -search */
    .site-search-wrapper {
        max-width: 660px;
    }
    /* menu */
    .category-menu{
        margin-left: 10px;
    }
    .menu-title{
        margin-right: 10px;
    }
    .carousel-content{
        top: 22%;
        left:12%;
    }
    .sub-carousel-content{
        margin-top: 10px;
    }
    .carousel-content-title{
        width: 70%;
        font-size: 45px;
        line-height: 70px;
    }
    .carousel-content-title strong{
        font-size: 45px;
    }
    
    .shop-now{
        margin-top: 25px;
    }
    /* service */
    .service{
        padding: 10px;
    }
    .factoty-content-wrapper{
        max-width: 20%;
    }
    /* banner  */
    .banner{
        padding: 10px;
    }
    #countdown{
        top: 59%;

    }
    .title-hotdeal{
        top:74%;
        right: 55%;

    }
    .deal-product{
        flex: 0 0 39.4%;
        max-width: 41.7%;
    }
    .sub-title{
        right: 195px;
    }
    .sub-title p{
        font-size: 16px;
    }
    .sub-title2{
        top:67%;
        right: 210px;
    }
    .sub-title2 span{
        font-size: 24px;
    }
    .sub-title2 p {
        font-size: 16px;
    }
    /* footer */
    .company-footer .content-footer-wrapper .menu-footer ul {
        padding-left: 72px;
    }
    .categories-footer .content-footer-wrapper .menu-footer ul{
        padding-left: 61px;
    }
    .quick-link .content-footer-wrapper .menu-footer ul{
        padding-left: 52px;
    } 
    .quick-link {
        flex: 0 0 21%;
        padding: 0 0;
    }
    .footer-top-title{
        padding-left: 55px;
    }
}

@media(max-width:800px){
    .container{
        max-width: 768px;
    }
    .content div li a{
        font-size: 10px;
    }
    .content div li span {
        font-size: 12px;
    }
    .local-info i{
        margin-left: 10px;
    }
    .search-header {
        max-width: 400px;
        margin-left: 60px;
    }
   
    .menu-title li{
        margin-left: 35px;
    }
    .sub-menu{
        width: 210px;
    }
    .sub-menu li a{
        font-size: 14px;
    }
    .sub-menu li a span {
        right: 15px;
        
    }
    .sub-menu ul li a{
        font-size: 12px;
    }
    .carousel-content-title{
        font-size: 35px;
        line-height: 50px;
    } 
    .sub-carousel-content{
        margin-top: 10px;
        font-size: 14px;
    }
    /* service */
    .factoty-content{
        flex-direction: row;
    }
    .medy-factory {
        margin-top: 25px;
    }
    .factoty-content-wrapper{
        max-width: 42%;
    flex: 0 0 40%;
    padding-top: 15px;
    }
    .icon-fact a img{
        vertical-align: middle;
    }
    /* hot banner */
    .hot-deal{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .deal-product{
        flex: 0 0 96.5%;
        max-width: 100%;
        margin-top: 30px;
        display: flex;
    }
    .img-discount{
        margin-left: 0;
    }
    .img-discount a img {
        width: 50%;
    }
    .img-accessories{
        max-width: 358px;
        margin-left: 10px;
    }
    .img-accessories a img {
        width: 50%;
    }
    .discount-content{
        top:20%;
        left: 18px;
    }
    
    .accessories-content{
        top:33%;
        left: 45px;
    }
    .accessories-content h2{
        font-size: 24px;
    }
    .accessories-content p{
        font-size: 16px;
    }
    .discount{
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 15px 0 0;
    }
    .discount-content h2 {
        font-size: 50px;
    }
    .discount-content h3 {
        font-size: 18px;
    }
    .discount-content p {
        font-size: 16px;
    }
    .accessories{
        margin-top: 0;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 0 0 15px;
    }
    .img-deal{
        max-width: none;
    }
    .carousel-content{
        top: 18%;
        max-width: 600px;
        width: 100%;
    }
    .site-products-sell{
        flex:1 0 45%;
        max-width: 50%;
    }
    .wrapper-latest-content{
    flex: 1 0 27%;
    max-width: 27.333333%;
    padding: 0 15px;
    margin-left: 16px;
    }
    .sub-carousel-content{
        margin-top: 20px;
    }
    .site-wrapper-brand {
        max-width: 15%;
    }
    .icon-fact{
        vertical-align: top;
    }
    .text-fact{
        vertical-align: text-top;
    }
    .bottom2{
        padding: 0 5px;
    }
        /* footer */
        .contact-us-footer .footer-top-title{
            text-align: center;
            
        }
        .footer-top-title{
            padding: 0;
        }
        .footer-top-content{
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .contact-us-footer{
            margin-left: 10px;
        }
        .company-footer .content-footer-wrapper .menu-footer ul {
            padding-left: 0px;
        }
        .categories-footer .content-footer-wrapper .menu-footer ul{
            padding-left: 0px;
        }
        .quick-link .content-footer-wrapper .menu-footer ul{
            padding-left: 0px;
        } 
        .quick-link {
            flex: 0 0 20%;
            padding: 0 0;
        }
        .contact-us-footer, .company-footer, .categories-footer, .quick-link{
            flex: 1 0 20%;
            max-width: 30%;
            margin-top: 50px;
            margin-bottom: 20px;
        
        }
} 
/*Ipad dọc(768 x 1024)*/
 @media(max-width: 768px){
    .container{
        max-width: 708px;
    }
    .location-find-us a{
        display: none;
    }
    .info-adress , .info-email, .info-tele{
        display: none;
    }
    .logo{
        margin: 30px 0;
        text-align: center;
    }
    .search-header{
        margin-left: 0;
    }
    .site-search-wrapper{
        max-width: 510px;
    }
    .sub-menu li a{
        font-size: 12px;
    }
    .icon-header{
        justify-content: space-between;
    }
    .carousel-content{
        top: 20%;
        padding-left: 0;
    }
    .medy-banner-wrapper{
        flex-wrap: wrap;
    }
    .hot-deal{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .deal-product{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .img-accessories{
        max-width: 315px;
        padding: 0;
    }
    .search-category{
        width: 320px;
    }
    .count-product{
        right: 0;
    }
    .icon-shopcart{
        padding-right: 10px;
    }
    .carousel-content-title{
        font-size: 40px;
    }
    .sub-carousel-content{
        margin-top: 15px;
    }
    .shop-now{
        margin: 0;
    }
    .medy-factory{
        margin: 0px;
    }
    .site-products-sell{
        max-width: 45.5%;
    }
    .example-text input[type="text"]{
        width: 80%;
    }
    .example-text input[type="submit"]{
        right: 9%;
    }
    .example-text input[type="submit"]{
        min-width: 140px;
    }
    .wrapper-slick{
        margin: 0;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .site-wrapper-brand{
        flex: 0 0 50%;
        max-width: 15%;
    }
    .contact-us-footer, .company-footer, .categories-footer, .quick-link{
        flex: 0 0 50%;
        max-width: 45%;
        margin-top: 50px;
    }
    .categories-footer, .quick-link{
        margin-top: 30px;
    }
   
    .menu-header li{
        margin-left: 0 !important;
    }
    .sub-menu li {
        line-height: 40px;
    }
    .new-text-content .latest-content-title{
        font-size: 10px;
    }
    .productselling-title, .title-hot-new{
        font-size: 80px;
        line-height: 80px;
    }
    .topselling-title, .latest-new{
        font-size: 40px;
        line-height: 40px;
    }
    .latest-new{
    top: 46%;
    }
    .bottom2 p {
        font-size: 12px;
    }

 }
 @media(max-width:600px) {
    .container{
        max-width:540px;
     }
     .search-header{
    max-width: 286px;
    margin-left: 20px;
     }
     select {
         font-size: 10px;
      
     }
     .select{
        width: 6.8em;
     }
     .search-category input[type="text"]{
         font-size: 10px;
     }
     .carousel-content{
        max-width:540px
     }
     .icon-setting {
         padding-left: 20px;
     }
     .logo a img {
         width: 100%;
     }
     .menu-title li{
         margin-left: 10px;
     }
     .carousel-content-title {
         max-width: 50%;
         font-size: 27px;
         line-height: 35px;
     }
     .carousel-content-title strong{
        font-size: 27px;
    }
     .carousel-content{
         top: 16%;
         left: 10%
         
     }
     .medy-factory{
         padding: 0;
     }
     .border-button-left{
        border-top: 55px solid #ffffff;
        border-left: 35px solid #ffffff;
        border-right: 15px solid transparent;
     }
     .border-button-right{
        border-bottom: 52px solid #ffffff;
        border-left: 12px solid transparent;
        border-right: 39px solid #ffffff;
     }
     .shop-now {
        margin-top: -10px;
     }
     .caurosel .caurosel_action button{
         margin: 0;
     }
     .discount-content {
        top: 33%;
     }
     .accessories-content{
        top: 65%;
        left: 30px;
     }
     #countdown{
        top: 65%;
    
     }
     .title-hotdeal{
         font-size: 24px;
         line-height: 10px;
     }
     .text-product-hotdeal{
        top: 84%;
     }
 
     .img-accessories{
        max-width: 245px;
     }
     .accessories{
         padding: 0;
     }
     #countdown ul li {
        margin: 0;
        font-size: 10px;
        min-width: 50px;
        min-height: 47px
     }
     .img-deal{
        margin: auto;
        max-width: 90%;
     }
     .factoty-content{
         margin: 0;
         justify-content: space-around;
     }
     .site-products-sell{
        padding: 0 14.5px 0 14px; 
     }
     .wrapper-latest-content{
         padding: 0 7px;
     }
     .site-wrapper-brand{
        max-width: 25%;
        padding: 10px;
     }
     .footer-top-title{
         padding: 0;
         text-align: center;
     }
     .contact-us-footer .footer-top-title1{
         text-align: center;
     }
     .contact-us-footer, .company-footer, .categories-footer, .quick-link{
        max-width: 42%;
     }
     .menu-footer ul {
         text-align: center;
     }
     .bottom2 img {
         width: 40%;
     }
     .bottom2 p{
         font-size: 10px;
     }
     .company-footer .content-footer-wrapper .menu-footer ul{
         padding: 0;
     }
     .categories-footer .content-footer-wrapper .menu-footer ul{
         padding: 0;
     }
     .quick-link .content-footer-wrapper .menu-footer ul{
        padding: 0;
     }
 }
 @media(max-width:540px){
     .container{
         max-width: 500px;
     }
     .search-header{
        max-width: 249px;
     }
     .menu-title li {
         font-size: 12px;
     }
     select{
         font-size: 8px;
     }
     .search-category input[type="text"]{
         font-size: 8px;
     }
     .carousel-content-title{
        font-size: 24px;
     }
     .carousel-content{
        max-width: 480px;
     }
     #countdown{
        top: 65%;
         width: 100%;
       
     }
     .text-product-hotdeal{
        right: 0;
        top: 80%;
     }
     .title-hotdeal{
        font-size: 30px;
        line-height: 20px;
     }
     .img-discount {
        max-width: 185px;
     }
     .img-accessories{
        max-width: 185px;
     }
     .site-products-sell{
         margin: auto;
     }
     .productselling-title, .title-hot-new{
        font-size: 60px;

     }
     .topselling-title, .latest-new {
        font-size: 30px
     }
 }
/*Tablet nhỏ(480 x 640)*/
 @media(max-width:480px){
     .container{
        max-width:390px;
     }
    .logo{
        text-align: center;
    }
    .accessories{
        margin: 0;
    } 
    .deal-product{
        max-width: 49%;
    }
    .contracts-content{
        flex-wrap: wrap;
    }
    .nav-menu ul.menu-header li{
        line-height: 30px;
    }
    .lang{
        padding: 10px 0;
    }
    /* .more_lang .lang{
        padding: 10px 10px;
    }
    .logo{
        margin: 18px 0;

    } */
    .logo a img {
       max-width: 50%;
    }
    .content-mid{
        display: block;
        height: 8.25em;
    }
    .search-category input[type="text"]{
        width: 180px;
    }
    .search-header{
        max-width: 280px;
    }
    .search-category
    .btn a span{
        font-size: 12px;
    }
    .menu-title{
        margin: 0;
    }
    .carousel-content{
        top: 10%;
        padding-left: 0;
        max-width: 250px;
        left: 15%;
    }
    .icon-header{
        justify-content: flex-end;
    }
    .carousel-content-title{
        font-size: 20px;
        line-height: 30px;
    }
    .caurosel .caurosel_action button{
        margin: 0 10px;
    }
    .border-button-left.fa-angle-left:before,.border-button-right.fa-angle-right:before{
        font-size: 20px;
        line-height: 30px;
    }
    .shop-now{
        margin-top: -70px;
    }
    .sub-carousel-content{
        font-size: 11px;
        margin-top: 5px;
    }
    .shop-now a{
        font-size: 11px;
    }
    .border-button-left{
        border-top: 30px solid #ffffff;
        border-left: 30px solid #ffffff;
        border-right: 15px solid transparent;
    }
    .border-button-right{
        border-bottom: 30px solid #ffffff;
        border-left: 15px solid transparent;
        border-right: 30px solid #ffffff;
    }
    .border-button-right:hover{
        border-bottom: 30px solid #0ca8c9;
        border-left: 15px solid transparent;
        border-right: 30px solid #0ca8c9;
    }
    .border-button-left:hover{
        border-top: 30px solid #0ca8c9;
        border-left: 30px solid #0ca8c9;
        border-right: 15px solid transparent;
    }
    .border-button-right span{
        line-height: 30px;
        font-size: 12px;
        color: #000000;
    }
    .border-button-left span{
        line-height: 30px;
        font-size: 12px;
        color: #000000;
    }
    .site-wrapper{
        max-width: 425px;
        padding: 0 15px;
    }
    .text-fact{
        vertical-align: middle;
    }
    .factoty-content{
        margin: 0 -15px;
    }
    .factoty-content-wrapper{
        padding: 0 15px;
    }
    .medy-factory{
        margin: 45px 0;
    }
    .icon-fact a img{
        width: 35px;
        height: 35px;
    }
    .img-deal img{
        width: 100%;
    }
    .accessories-content{
        text-align: center;
        left: 15px;
    }
    .discount, .accessories{
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }
    .contact-us-footer, .company-footer, .categories-footer, .quick-link{
        padding: 0;
    }
    .footer-top-content{
        margin: 0;
    }
    .productselling-title{
        font-size: 70px;
    }
    .img-product img{
        width: 90px;
        height: 120px;
    }
    .productselling-title{
        font-size: 50px;
        line-height: 50px;
    }
    .title-hot-new{
        font-size: 60px;
    }
    .latest-new{
        font-size: 38px;
        top: 40%;
    }
    .new-text-content a h4{
        font-size: 12px;
    }
    .sub-new-content{
        font-size: 10px;
    }
    .newletter-title{
        font-size: 25px;
    }
    .example-text input[type="text"]{
        height: 50px;
    }
    .example-text input[type="submit"]{
        width: 100px;
        min-width: 0;
        height: 40px;
        line-height: 40px;
        font-size: 12px;
        top: 5px;
    }
    .scrollTop{
        font-size: 15px;
        padding: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
    }
    .caurosel .dots{
        width: 10px;
        height: 10px;
    }
    .menu-title{
    display: none;        
    }
    .menu2{
        display: block;
    }
    .discount{
        margin-left: 6px;
    }
    .img-accessories{
        margin-left: 1px;
    }
    .title-product-sell{
        font-size: 13px;
    }
    .topselling-title{
        font-size: 25px;
        line-height: 25px;
    }
    .nav-product{
        height: auto;
        top: 30%;
    }
    .example-text input[type="submit"]{
        right: 7%;
    }
    .prev-product a, .next-product a{
        font-size: 25px;
        line-height: 25px;
    }
    .btn-add-to-cart{
        top: 30%;
    }
    .btn-add-to-cart span{
        font-size: 12px;
    }
    .new-text{
        padding-top: 50px;
        padding-bottom: 35px;
    }
    .product-sell-wrapper{
        margin-bottom: 15px;
    }
    .site-wrapper-brand{
        max-width: 30%;
    }
    .wrapper-latest-content{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .site-latest-content-responsive{
        margin-top: 30px;
        margin: auto;
    }
    .new-text-content .latest-content-title{
        font-size: 12px;
    }
    .wrapper-latest-content{
        padding-top: 20px;
        margin: auto;
    }
    .content-footer-wrapper{
        text-align: center;
    }
    .categories-footer .content-footer-wrapper .menu-footer ul{
        padding-left: 0;
    }
    .company-footer .content-footer-wrapper .menu-footer ul{
        padding-left: 0;
    }
    .quick-link .content-footer-wrapper .menu-footer ul{
        padding-left: 0; 
    }
    .contact-us-footer, .company-footer, .categories-footer, .quick-link{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .contact-us-footer, .company-footer{
        padding-bottom: 0;
    }
    .company-footer{
        margin-top: 30px;
    }
    .categories-footer, .quick-link{
        margin-top: 25px;
    }
    .categories-footer{
        padding-bottom: 0;
    }
    .select::after{
        padding: 0;
    }
    .title-factory{
        font-size: 11px;
    }
    .sub-title-factory{
        font-size: 9px;
    }
    .factoty-content-wrapper{
        flex: 0 0 40%;
    }
    .bottom2 p {
        font-size: 8px;
    }
}
@media(max-width:425px){
    .container{
        max-width: 380px;
    } 
    .search-header{
        max-width: 250px;
    }
    .search-category{
        max-width: 280px;
    }
    .title-hotdeal{
        font-size: 27px;
    }
    .discount{
        margin-left: 0;
    }
    .carousel-content-title {
        font-size: 12px;
    }
    .sub-carousel-content{
        font-size: 10px;
    }
    .deal-product{
        display: block;
        max-width: 100%;
        margin-top: 10px
    }
    .img-discount{
       
        max-width: 342px;
        margin-left: 18px;

    }
    .img-accessories{
       
    max-width: 342px;
    margin-left: 18px;
    margin-top: 10px;
    }
    .discount-content h2{
        font-size: 30px;
    }
    .example-text input[type="submit"]{
        right: 6%;
    }
}
@media (max-width:376px){
    .container{
        max-width: 328px;
    }
    .search-header{
        max-width: 250px;
        margin: 0px;
    }
    .search-category {
        max-width: 280px;
    }
    .factoty-content-wrapper{
        flex:auto;
    }
    .carousel-content-title strong{
        font-size: 12px;
    }
    .menu2{
        margin-right: 15px;
    }
    .img-discount{
       
        max-width: 300px;
    }
    .img-accessories{
       
    max-width: 300px;

    }
    .search-header{
        max-width: 218px;
    }
    .search-category{
        max-width: 275px;
    }
    #countdown{
        left: 0px;
    }
    .example-text input[type="text"]{
        min-width: 300px;
        text-align: center;
    }
    .example-text input[type="submit"]{
      top:123%;
      left: 36%;
    }
    .footer-top-title1{
        text-align: center;
    }
    .footer-top-title{
        padding: 0px;
        text-align: center;
    }
    .sub-contact-us{
        text-align: left;
    }
    .discount-content{
        left: 55px;
    }
    .accessories-content {
        left: 30px;
    }
    .contact-us-footer .footer-top-title1{
        text-align: center;
    }
    .form-text-email{
        padding: 0;
    }
}
@media (max-width:320px){

    .container {
        max-width: 273px;
    }
    .email-icon i{
        font-size: 8px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    }
    .tele-icon i {
        font-size: 8px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        }
    .adress-icon i {
        font-size: 8px;
        width: 16px;
        height: 16px;
        line-height: 16px;
        }
        .content .left ul li{
            margin-left:10px
        }
    .carousel-content-title{
        line-height: 25px;
    }
    .content .left{
        margin: 0;
    }
    .search-header{
        margin-left: 0;
        max-width: 195px;
    }
    .select{
        margin-left: 0px;
    }
    .icon-setting{
        padding-left: 5px;
        padding-right: 5px;
    }
    .shop-now{
        margin-top: 0;
        padding: 0;
    }
    .title-hot{
        font-size: 24px;
    }
    .img-discount{
        margin-left: 14px;
        max-width: 260px;
    }
    .img-accessories{
       
    max-width: 260px;
    margin-left: 14px;
    }
    .example-text input[type="text"]{
        padding-left: 0;
        min-width: 288px;
    }
    .site-wrapper-brand{
        max-width: 40%;
    }
    .bottom2 p {
        font-size: 6px;
        font-weight: 500;
    }
    .bottom2 a {
        font-size: 6px;
        font-weight: 500;
    }
}
